{
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "no-undef":["error", "always"],
    "global-strict": ["error", "always"],
    "keyword-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ],
    "space-in-parens": 0,
    "no-extra-semi": 2,
    "no-underscore-dangle": 0,
    "no-console": 0,
    "no-unused-vars": 2,
    "no-trailing-spaces": [
      2,
      {
        "skipBlankLines": true
      }
    ],
    "no-unreachable": 2,
    "no-alert": 2,
    "function-call-argument-newline": ["error", "never"],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "lf"
      }
    ]
  }
}