:root {
    /* time must be in ms */
    --flex-transition-time: 1000ms;
}

h2,
h3,
h4 {
    margin: 0;
}

ul {
    margin-top: 0.3em;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    vertical-align: middle;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    padding: 1em 1em;
    width: 100%;
    max-width: 100%;
}

.flex-title-content {
    font-size: 1em;
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 2em;
    text-align: justify;
    line-height: 1.2em;
}

.flex-title-header {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 0 5%;
}

.flex-body-header {
    font-size: 1em;
    position: relative;
    display: block;
    text-align: left;
    /* font-weight: bold; */
    align-items: center;
    justify-content: center;
    min-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 1em;
    font-weight: bold;
    /* background-color: blue; */
}

.flex-body-header {
    position: relative;
    align-self: top;
}

.flex-body-content,
.flex-body-image {
    font-size: 1em;
    position: relative;
    display: block;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 1em;
    /* background-color: red; */
}

.flex-body-content {
    padding-top: 0;
}

.flex-body-image {
    /* border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); */
    padding: 2em 5px;
}

.flex-body-image img {
    translate: 0;
}

@media screen and (min-width: 700px) {
    .flex-body-header {
        margin: auto;
        padding: 1em 10%;
        font-size: 1.5em;
    }

    .flex-body-content {
        margin: auto;
        padding: 2em 22%;
        font-size: 1.1em;
        padding-top: 0;
    }
    .flex-body-image {
        margin: auto;
        padding: 2em 20%;
    }

    .flex-title-header {
        padding: 0 15%;
    }

    .flex-title-content {
        padding: 5% 10%;
    }
}

@media screen and (min-width: 1000px) {
    .flex-title-header {
        display: flex;
        text-align: right;
        width: 50%;
        font-size: 1.2em;
        padding-left: 15%;
        align-self: center;
        padding: 0 5%;
    }

    .flex-title-content {
        width: 50%;
        padding-right: 15%;
        padding-top: 0;
        font-size: 1.1em;
        line-height: 1.3em;
    }
}

.img-wrapper {
    min-height: 0;
    min-width: 100%;
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.img-header {
    min-height: 0;
    max-height: 100%;
    max-width: 100%;
    height: auto;
    /* -webkit-transition: all var(--flex-transition-time), linear;
    -moz-transition: all var(--flex-transition-time) linear;
    -ms-transition: all var(--flex-transition-time) linear;
    -o-transition: all var(--flex-transition-time) linear;
    transition: all var(--flex-transition-time) linear; */
}
