body {
    display: grid;
    grid:
        'header header header' auto
        'nav    main   main' auto
        'footer footer footer' auto /
        1fr 1fr 1fr;
    grid-gap: 1em;
    justify-content: center;
    align-content: center;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

main {
    grid-area: main;
}

.navbar {
    grid-area: nav;
}
