:root {
    --main-transition-time: 1000ms;
}

html,
body {
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
}

.main-wrapper {
    position: absolute;
    display: block;
    box-sizing: border-box;
    margin: 0;
    min-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: transform var(--main-transition-time), ease;
    -moz-transition: transform var(--main-transition-time) ease;
    -ms-transition: transform var(--main-transition-time) ease;
    -o-transition: transform var(--main-transition-time) ease;
    transition: transform var(--main-transition-time) ease;
}

.main-grid {
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid:
        'nav' min-content
        'main' auto
        'footer' min-content
        / minmax(0, 100%);
    grid-gap: 1em;
    padding: 1em;
    min-width: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    height: min-content;
    left: 0;
    overflow: hidden;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    min-height: fit-content;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

footer {
    grid-area: footer;
    text-align: right;
    border-top: 2px solid black;
    padding: 1em 3em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

.float-up {
    -ms-transform: translateY(calc(100vh));
    -moz-transform: translateY(calc(100vh));
    -webkit-transform: translateY(calc(100vh));
    transform: translateY(calc(100vh));
    top: 100vh;
}
