:root {
    --grid-width: 570px;
    --grid-height: 880px;
    --x-rows: 10;
    --y-cols: 10;
}

html,
body {
    margin: 0;
    padding: 0;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.grid-wrapper {
    /* border-style: solid;
    border-color: black; */
    position: relative;
    display: block;
    margin: auto;
    height: var(--grid-height);
    width: var(--grid-width);
}

.item {
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    top: 10px;
    left: 10px;
    padding: 0px;
    background-color: blueviolet;
    -webkit-transition: all 1s ease, background-color 400ms ease;
    -moz-transition: all 1s ease, background-color 400ms ease;
    -ms-transition: all 1s ease, background-color 400ms ease;
    -o-transition: all 1s ease, background-color 400ms ease;
    transition: all 1s ease, background-color 400ms ease;
}

.item:hover {
    background-color: orange;
}
