:root {
    /* time must be in ms */
    --tile-transition-time: 1000ms;
}

html,
body {
    margin: 0;
    padding: 0;
}

.slicer-main-wrapper {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    /* top: 0;
    left: 0; */
    /* height: 100vh;
    width: 100vw; */
}

.slicer-grid-wrapper {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

.slicer-grid-item {
    position: absolute;
    display: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    top: 10px;
    left: 10px;
    padding: 0px;
    width: 10px;
    height: 10px;
    background-color: blueviolet;
    -webkit-transition: all var(--tile-transition-time), background-color 400ms ease;
    -moz-transition: all var(--tile-transition-time) ease, background-color 400ms ease;
    -ms-transition: all var(--tile-transition-time) ease, background-color 400ms ease;
    -o-transition: all var(--tile-transition-time) ease, background-color 400ms ease;
    transition: all var(--tile-transition-time) ease, background-color 400ms ease;
}

/* .item:hover {
    background-color: orange; 
} */
