:root {
    /* time must be in ms */
    --tile-transition-time: 2000ms;
}

.slicer-main-wrapper {
    position: absolute;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    -webkit-transition: top var(--tile-transition-time), ease;
    -moz-transition: top var(--tile-transition-time) ease;
    -ms-transition: top var(--tile-transition-time) ease;
    -o-transition: top var(--tile-transition-time) ease;
    transition: top var(--tile-transition-time) ease;
}

.slicer-transition-overflow {
    display: flex;
    position: absolute;
    overflow: hidden;
}

.slicer-grid-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.slicer-grid-item {
    position: absolute;
    display: none;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    top: 10px;
    left: 10px;
    padding: 0px;
    width: 10px;
    height: 10px;
    background-color: blueviolet;
    -webkit-transition: all var(--tile-transition-time), background-color 400ms ease;
    -moz-transition: all var(--tile-transition-time) ease, background-color 400ms ease;
    -ms-transition: all var(--tile-transition-time) ease, background-color 400ms ease;
    -o-transition: all var(--tile-transition-time) ease, background-color 400ms ease;
    transition: all var(--tile-transition-time) ease, background-color 400ms ease;
}

#loader-spinner {
    position: absolute;
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}
/* .item:hover {
    background-color: orange; 
} */
