:root {
    --nav-transition-time: 1000ms;
}

nav {
    display: block;
    margin: auto;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    width: 100%;
    /* background-color: #4c4c4c; */
    /* box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.2); */
    /* z-index: 9999; */
}

.navbar-item {
    border-radius: 1em;
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    box-sizing: border-box;
    top: 0;
    max-width: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    vertical-align: middle;
    padding: 1em;
    margin: 1.5em 0;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-color: #595959;
    color: white;
}

.navbar-item:hover {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.2), 0 20px 40px 0 rgba(0, 0, 0, 0.8);
    height: 11vh;
    background-color: #333333;
}

.transition {
    -webkit-transition: all var(--nav-transition-time) ease, height calc(var(--nav-transition-time) / 2) ease;
    -moz-transition: all var(--nav-transition-time) ease, height calc(var(--nav-transition-time) / 2) ease;
    -ms-transition: all var(--nav-transition-time) ease, height calc(var(--nav-transition-time) / 2) ease;
    -o-transition: all var(--nav-transition-time) ease, height calc(var(--nav-transition-time) / 2) ease;
    transition: all var(--nav-transition-time) ease, height calc(var(--nav-transition-time) / 2) ease;
}

.disable-click {
    pointer-events: none;
}
