:root {
    --nav-transition-time: 1000ms;
    --mobile-width-bracket: 700px;
}

nav {
    position: relative;
    display: block;
    box-sizing: border-box;
    text-align: right;
    border-bottom: 2px solid black;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    max-height: min-content;
    background-color: white;
    height: min-content;
    padding: 0;
}

.navbar-item {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: min-content;
    margin-top: 0;
    padding: 1em;
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-decoration: inherit;
    font-size: 1em;
}

#navbar-list-id {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    height: min-content;
}

.transition {
    -webkit-transition: all var(--nav-transition-time) ease, height calc(var(--nav-transition-time) / 2) ease;
    -moz-transition: all var(--nav-transition-time) ease, height calc(var(--nav-transition-time) / 2) ease;
    -ms-transition: all var(--nav-transition-time) ease, height calc(var(--nav-transition-time) / 2) ease;
    -o-transition: all var(--nav-transition-time) ease, height calc(var(--nav-transition-time) / 2) ease;
    transition: all var(--nav-transition-time) ease, height calc(var(--nav-transition-time) / 2) ease;
}

.transition-top {
    -webkit-transition: top var(--nav-transition-time) ease;
    -moz-transition: top var(--nav-transition-time) ease;
    -ms-transition: top var(--nav-transition-time) ease;
    -o-transition: top var(--nav-transition-time) ease;
    transition: top var(--nav-transition-time) ease;
}

.disable-click {
    pointer-events: none;
}

.sticky {
    position: fixed;
    z-index: 99;
}

.open-nav-button-container {
    position: fixed;
    display: block;
    box-sizing: border-box;
    z-index: 999;
    top: 0;
    left: 0;
    margin-left: 1em;
    cursor: pointer;
}

.open-nav-button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    min-height: 100%;
    min-width: 100%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.open-nav-button::after {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: 0.75em;
    width: 0.75em;
    margin: 1em;
    border: solid black;
    border-width: 0 3px 3px 0;
    /* -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); */
}

.open-nav-button > div {
    height: 0.75em;
    width: 0.75em;
    margin: 1em;
    border: solid black;
    border-width: 0 3px 3px 0;
}

.open-nav-hide {
    left: -4em;
    pointer-events: none;
}

.open-nav-rotate {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open-nav-top {
    top: 0 !important;
}

@media screen and (min-width: 700px) {
    nav {
        padding: 0 5em;
    }
    .navbar-item {
        display: inline-block;
        margin-top: 2em;
        width: max-content;
        align-items: right;
        float: none;
        font-size: 1.1em;
    }

    .navbar-item:hover {
        -webkit-font-smoothing: subpixel-antialiased;
        backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateY(-1vh);
        -moz-transform: translateY(-1vh);
        -ms-transform: translateY(-1vh);
        transform: translateY(-1vh);
    }

    .open-nav-button {
        display: none;
    }
}
